.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: auto;
}

.customSection {
  display: flex;
  flex-direction: row;
  width: 100%;

  .fp-table {
    width: 100vw !important;
  }

  .slide {
    color: white;
    h3 {
      width: 100%;
    }
    .active {
      width: 1500px;
    }
  }
}

.innerContainer {
  display: flex;
  flex-direction: row;
}
